<style>
footer.site-footer {
    background-color: #f8f9fa;
    border: 0px;
}
footer .nav {
  float: right;
}
footer .nav a {
  margin-left: 20px;
  color: #9B9B9B;
  font-size: 16px;
}
</style>

<footer class="site-footer">

  <div class="wrapper">
    <span>© 2015 James Tang</span>
    <span class="nav">
      <a href="mailto:{{ site.email }}">email</a>
      <a href="http://twitter.com/@{{ site.twitter_username }}">twitter</a>
      <a href="/press">press</a>
      <a href="/changelog">changelog</a>
    </span>
  </div>


  <script>

    {% if site.analytics.mixpanel %}
    {% if page.pagename %}
      {% assign title = page.pagename %}
    {% elsif page.title %}
      {% assign title = page.title %}
    {% endif %}

    {% if page.share %}
      {% assign share = true %}
    {% else %}
      {% assign share = false %}
    {% endif %}

    {% if page.subscribe %}
      {% assign subscribe = true %}
    {% else %}
      {% assign subscribe = false %}
    {% endif %}

    mixpanel.track("View {{ title }}",
    {
      "identifier" : "{{ page.identifier }}",
      "title" : "{{ page.title }}",
      "share" : {{ share }},
      "subscribe" : {{ subscribe }},
    });
    {% endif %}

    $("#submitButton").click(function(event) {
        var identifier = $( this ).attr("identifier")
        var htmlString = $( this ).attr("href");

        {% if site.analytics.mixpanel %}
        mixpanel.track("Download Template", { "identifier" : identifier });
        {% endif %}

        ga('send', 'event', 'template', 'download', identifier);
    })

    $(".page-content a").click(function(event) {
        var cb = generate_callback($(this));
        event.preventDefault();
        var name = $( this ).attr("identifier");
        if (name) {
          var htmlString = $( this ).attr("href");

          {% if site.analytics.mixpanel %}
          mixpanel.track("Clicked Link", { "href" : htmlString, "identifier": name }, cb);
          {% endif %}

          ga('send', 'event', 'link', 'click', identifier);
        }
        setTimeout(cb, 500);
    })

    function generate_callback(a) {
        return function() {
            window.location = a.attr("href");
        }
    }
  </script>


</footer>
