
<style>
.purchase {
	height: 180px;
}
.purchase a.btn {
	color: white;
	background-color: rgb(250, 148, 2);
	border-color: rgb(250, 148, 2);
	font-family: "Asap";
	font-weight: normal;
	margin-bottom: 3px;
}
</style>
<div class="purchase wrapper flex py2 flex-center">

	<img src="/images/magic-mirror-trimmed.gif" class="flex-none col-4"></img>

	<div class="flex flex-column flex-end flex-auto">
	<a href="/purchase" identifier="Get-Full-License-Bottom" class="flex-none border-box center btn btn-outline orange strong">Get License 50% off</a>
	<sub class="clearfix">Join the <span id="count">4,123</span> designers already using Magic Mirror!</sub>
	</div>
</div>