{% if page.share.description %}
	{% assign desc = page.share.description %}
{% elsif page.description %}
	{% assign desc = page.description %}
{% elsif page.excerpt %}
	{% assign desc = page.excerpt %}
{% else %}
	{% assign desc = site.description %}
{% endif %}

{% if page.share.title %}
	{% assign title = page.share.title %}
{% elsif page.title %}
	{% assign title = page.title %}
{% else %}
	{% assign title = site.title %}
{% endif %}

{% if page.share.url %}
{% assign url = page.share.url %}
{% else %}
{% assign url = site.url|append:page.url|remove:'index.html' %}
{% endif %}

{% capture share %}
{{ page.share.pre }}{{ title }} {{ url }} {{ desc }}{{ page.share.post }}
{% endcapture %}
<div class="flex flex-center mb2" style="height:180px;">
<a href="https://twitter.com/intent/tweet?text={{ share | truncate:140 }}" class="mx-auto tweetcircle" data-via="jamztang" data-url="{{ url }}">
<span id="twitterCount">Tweet</span>
</a><!-- Twitter -->
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));

</script>
<script>

// Define our custom event handlers
function clickEventToAnalytics (intentEvent) {
  if (!intentEvent) return;
  var label = intentEvent.region;
	console.log("click tweet button")
  // pageTracker._trackEvent('twitter_web_intents', intentEvent.type, label);

	setTimeout(function () {
		console.log("25% off aplied!");
		$('#tweet-text').html("25% off applied! √");
		$('#tweet-text').html("25% off applied! √");
	}, 10000);
}

function tweetIntentToAnalytics (intentEvent) {
  if (!intentEvent) return;
  var label = "tweet";

	console.log("tweet tweet button")
  // pageTracker._trackEvent(
  //   'twitter_web_intents',
  //   intentEvent.type,
  //   label
  // );
}

// Wait for the asynchronous resources to load
twttr.ready(function (twttr) {
  // Now bind our custom intent events
  twttr.events.bind('click', clickEventToAnalytics);
  twttr.events.bind('tweet', tweetIntentToAnalytics);

});

</script>

</div>
