
{% if page.description %}
	{% assign desc = page.description %}
{% elsif page.excerpt %}
	{% assign desc = page.excerpt %}
{% else %}
	{% assign desc = site.description %}
{% endif %}

{% capture share %}
{{ page.title }} {{ site.url }}{{ page.id }} {{ desc }}
{% endcapture %}
<div class="flex flex-center mb2" style="height:180px;">
<a href="https://twitter.com/intent/tweet?text={{ share | truncate:140 }}" class="mx-auto tweetcircle" data-via="jamztang">
<span id="twitterCount">calculating</span>
</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

     function getTwitterCount(url){
        var tweets;
        $.getJSON('http://urls.api.twitter.com/1/urls/count.json?url=' + url + '&callback=?',
         	function(data){
			     tweets = data.count;
			     $('#twitterCount').html("tweets " + tweets);
			 }
		);
     }
     var urlBase='http://magicmirror.design';
     getTwitterCount(urlBase); 

</script>
</div>