
<style>
.subscribe h1 {
	font-family: "Asap", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 100;
	color: #B3B3B3;
	line-height: 42px;
}
.subscribe sub {
	font-family: "Asap";
	font-size: 11px;
	color: #B3B3B3;
	margin-top: 6px;
}
.subscribe .clearfix {
	padding-top: 12px;
	padding-bottom: 4px;
}
.subscribe .btn {
	color: white;
	background-color: rgb(250, 148, 2);
	border-color: rgb(250, 148, 2);
	font-family: "Asap";
}
.subscribe input {
	border-radius: 22px;
	border-color: rgba(0,0,0,0);
	color: #999;
	background-color: rgba(128,128,128,0.3);
}
</style>
<div style="height: 200px; background-color:#F4F4F4" class="flex flex-center">
<div class="subscribe wrapper py2 center mx-auto">
	<h1 style="">Subscribe to Magic Mirror News &amp; Updates</h1>

	<form action="http://jamztang.us10.list-manage.com/subscribe/post?u=d0e153cc5be5d4a9389546767&amp;id=3c04db4085" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	  <div style="position: absolute; left: -5000px;"><input type="text" name="b_d0e153cc5be5d4a9389546767_3c04db4085" tabindex="-1" value=""></div><input type="submit" value="submit" name="subscribe" id="mc-embedded-subscribe" class="flex-auto border-box center btn btn-outline orange"></div>
	</form>
	<div class="clearfix">
	<sub>No spam, ever. Your email address will only ever be used for Magic Mirror Updates and you can easily unsubscribe with a single click at any time.</sub></div>
</div>
</div>
